<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
 "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 <hibernate-configuration>
 	<session-factory>
 	<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
 	<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/testrace</property>
 	<property name="hibernate.connection.username">root</property>
 	<property name="hibernate.connection.password">1111</property>
 	<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
 	<property name="hibernate.connection.pool_size">10</property>
 	<property name="show_sql">true</property>
 	<property name="hibernate.hbm2ddl.auto">create</property>
 	<!-- <property name="cache.use_second_level_cache">true </property>
 	<property name="cache.use_query_cache">true </property>
	<property name="cache.provider_class">org.hibernate.cache.EhCacheProvider </property> -->
	
	
	
	
	<mapping class="by.academy.it.pojos.Race"/>
	<mapping class="by.academy.it.pojos.Coefficient"/>
	<mapping class="by.academy.it.pojos.Bets"/>
	<mapping class="by.academy.it.pojos.User"/>
	<mapping class="by.academy.it.pojos.Tupebets"/>
<!-- 	 <class-cache class="by.academy.it.Tupebets"  usage="read-write"  include="non-lazy" -->
<!--                         region="by.academy.it.Tupebets"/> -->
 	</session-factory>
 </hibernate-configuration>